<!DOCTYPE html>
<html>
<head>
  <title>Beacon</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<div class="navbar navbar-fixed-top navbar-inverse">
	  <div class="navbar-inner">
	    <div class="container">
	 
	      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
	      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	        <span class="icon-bar"> </span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </a>
	 
	      <!-- Be sure to leave the brand out there if you want it shown -->

			<ul class="nav">

		      <li class="active"><h1><%= link_to 'Beacon', statuses_path %></h1></li>
		   
		    </ul>
	 
	      <!-- Everything you want hidden at 940px or less, place within here -->
	      <div class="nav-collapse collapse">
	        <!-- .nav, .navbar-search, .navbar-form, etc -->
	      </div>
	 
	    </div>
	  </div>
	</div>
			<br/><br/><br/>

			<div class="container_fill"/>
   <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>			
				<%= yield %>
			</div>
</div>
</body>
</html>




